In [1]:
import pandas as pd
from pathlib import Path

In [2]:
# Step 1, create dataframe dubbed "budget_data" and read the first 2 rows to identify variable names
csvpath = Path("../PyBank/budget_data.csv")
budget_data = pd.read_csv(csvpath)
budget_data.head(2)

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655

In [3]:
# Step 2, create a new variable using Panda's "shift" function, which represents a variable where "n-1" produces yesterday's perfomance
budget_data['pnl_monthly_lag'] = budget_data['Profit/Losses'].shift(1)
budget_data.head(2)

       Date  Profit/Losses  pnl_monthly_lag
0  Jan-2010         867884              NaN
1  Feb-2010         984655         867884.0

In [5]:
# Step 3, create a new variable reflecting the monthly change
def monthly_change (today, yesterday):
    return today - yesterday
budget_data['monthly_change'] = monthly_change(budget_data['Profit/Losses'], budget_data['pnl_monthly_lag'])
budget_data.head(3)

       Date  Profit/Losses  pnl_monthly_lag  monthly_change
0  Jan-2010         867884              NaN             NaN
1  Feb-2010         984655         867884.0        116771.0
2  Mar-2010         322013         984655.0       -662642.0

In [6]:
# Step 4, calculate summary statistics
Total = budget_data['Profit/Losses'].sum()
total_months = budget_data['Date'].count()
total_tabulated_months = budget_data['Date'].count()-1
Tot_avg_monthly_change = round(budget_data['monthly_change'].sum(), 2)
avg_monthly_change = round(Tot_avg_monthly_change/total_tabulated_months, 2)
Max = int(budget_data['monthly_change'].max())
Min = int(budget_data['monthly_change'].min())

In [7]:
# Step 5, print summary stats
print("Financial Analysis")
print(".............................................")
print(f"Total Months: {total_months}")
print(f"Total: ${Total}")
print(f"Average Monthly Change: ${avg_monthly_change}")
print(f"Greatest Increase in profits: ${Max}")
print(f"Greatest Decrease in profits: ${Min}")

Financial Analysis
.............................................
Total Months: 86
Total: $38382578
Average Monthly Change: $-2315.12
Greatest Increase in profits: $1926159
Greatest Decrease in profits: $-2196167

In [8]:
# Step 6, specify output environment and content
output_path = 'output.txt'
with open(output_path, 'w') as file:
    # summary stats to the output file, convert to string
    file.write("Financial Analysis")
    file.write(f"Total Months: {total_months}")
    file.write(f"Total: ${Total}")
    file.write(f"Average Monthly Change: ${avg_monthly_change}")
    file.write(f"Greatest Increase in profits: ${Max}")
    file.write(f"Greatest Decrease in profits: ${Min}")